<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>About | Rohit Shende</title>  

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
  <style>
    .col-xs-12.col-md-6 {
      display: none;
    }
    .col-xs-12.col-md-12 {
      width: 100%;
    }
  </style>
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
            <li class="active"><a href="./blog.html" title="">05 : Blog</a>

          </ul>
          <!-- Added social media and email links -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/in/rohit-shende-ml/" title=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/rohitshshende0/" title=""><i class="fa fa-github"></i></a></li>
            <li><a href="mailto:rohitshende020@gmail.com" title=""><i class="fa fa-envelope"></i></a></li>
          </ul>


        </div> 
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Me</h3>
                  <p>I hail from Nagpur, India and currently work as a Freelance Machine Learning Engineer at Upwork. With a strong background in artificial intelligence, deep learning, and natural language processing, I have been instrumental in developing and deploying end-to-end machine learning solutions.</p>
                  <p>I completed my Bachelor's degree in Electrical Engineering from Nagpur University in 2021. However, my fascination with machine learning and AI led me to explore new avenues of learning. To further enhance my skills, I joined the Zero to Mastery Academy, where I delved into the world of Python development, machine learning, and data science.</p>
                  <h3>What I know</h3>
                  <p>As a result of my relentless curiosity, I have gained practical experience with a wide range of technologies, including:</p>
                  <ul>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SQL</li>
                    <li>Scikit-Learn</li>
                    <li>Spacy</li>
                    <li>Pandas</li>
                    <li>Numpy</li>
                    <li>Seaborn</li>
                    <li>Matplotlib</li>
                    <li>Matlab</li>
                    <li>PyTorch</li>
                  </ul>
                  <p>for use with concepts such as:</p>
                  <ul>
                    <li>Natural Language Processing</li>
                    <li>Machine Learning</li>
                    <li>Data Analytics</li>
                    <li>Data Visualization</li>
                    <li>Database Systems & Information Modelling</li>
                    <li>Software Engineering</li>
                    <li>Web Development</li>
                    <li>and more!</li>
                  </ul>
                  <p>Right now, I prefer using Python for Machine Learning, NLP, and Deep Learning work.</p>
                  <h3>Certificates I've completed:</h3>
                  <p>To feed my hunger for learning, I take online courses for areas in AI and Software Engineering that I find interesting and work independently on projects in my free time. Some of them include:</p>
                  <ul>
                    <li>Complete Python Developer in 2023 - zero to mastery</li>
                    <li>Complete Machine Learning and Data Science - zero to mastery</li>
                    <li>PyTorch for Deep Learning - zero to mastery</li>
                    <li>Applications of Machine Learning in Urban Studies - ISRO & IIRS</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© ROHIT SHENDE | Website created with <a href="http://www.mashup-template.com/" title="Create website with free HTML template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l =
    </script>
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>
