<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Blog | Rohit Shende</title>  

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
            <li class="active"><a href="./blog.html" title="">05 : Blog</a></li>
          </ul>
          <!-- Added social media and email links -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.linkedin.com/in/rohit-shende-ml/" title=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/rohitshshende0/" title=""><i class="fa fa-github"></i></a></li>
            <li><a href="mailto:rohitshende020@gmail.com" title=""><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div> 
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">05 : Blog</h1>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <h3><a href="https://medium.com/@rohitshende020/the-ml-journey-with-rohit-understanding-machine-learning-fundamentals-12db91fefa71">
              Understanding Machine Learning Fundamentals</h3>
              <p>dive into the fundamentals and lay a solid foundation for our exploration of the world of machine learning.</p>
              <h3><a href="https://medium.com/@rohitshende020/the-ml-journey-with-rohit-week-1-part-2-accuracy-and-evaluation-of-statistical-learning-models-2f2a2e813">
              Accuracy and Evaluation of Statistical Learning Models</h3>
              <p>Accuracy Assessment in Classification: Training and Test Error Rates, The Bayes Classifier, K-nearest neighbors (KNN) Classifier.</p>
              <h3><a href="https://medium.com/@rohitshende020/the-ml-journey-with-rohit-week-1-part-1-building-the-foundation-in-machine-learning-2bd83939781">
              Building the Foundation in Machine Learning</h3>
              <p>Reviewing Statistics and Linear Algebra key mathematical concepts that form the basis of machine learning algorithms. We’ll revisit probability, distributions, linear equations, and matrix operations.</p>
              <h3><a href="https://medium.com/@rohitshende020/how-to-overcome-common-challenges-in-deploying-machine-learning-models-d7f753a381a7">
              How to Overcome Common Challenges in Deploying Machine Learning Models</h3>
              <p>Deploying machine learning models can be a challenging task, as there are several common challenges that can arise during the process.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© ROHIT SHENDE | Website created with <a href="http://www.mashup-template.com/" title="Create website with free HTML template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      // Add your custom JavaScript code here
    });
  </script>
</body>

</html>
